.one-eaning{
    height: 56px;
    display: flex;
    align-items: center;
    
}
.eaning-left{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
    
}
.scoreData {
    background-color:  rgb(199, 199, 199);
    
    /* height: 56px; */
    display:flex;
    align-items: center;
    /* color: white; */
    margin-top: 10px;
    padding: 10px 0px;
    /* border-radius: 1px solid black; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */

}
.scoreData-mobile {
    background-color:  rgb(199, 199, 199);
    
    /* height: 56px; */
    display:flex;
    display: none;
    padding: 40px 20px;
    align-items: center;
    /* color: white; */
    margin-top: 10px;
    padding: 10px 0px;
}

.scoredata-team{
 width: 74%;   
 color: black;
 
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 /* padding:px 0px; */
 /* padding-left: 15px; */
}
.single-middle{
    width: 60%;
}

.text-center{
    text-align: center;
}
.eaning-mid {
width:40%;
text-align: center;
}
.eaning-right{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playerScore{
width: 18%;
display: flex;
align-items: center;
height: 100%;
/* margin-left: 50px; */
}
.scoredata-team{
    width: 64%;   
    color: black;
   }
.score-data-single-team{
    height: 40px;
    


}

.playerScore-odd{
    width: 18%;
}

.cricket-data-table{
    height: 48px;
    background-color: white;
    border-top: 1px solid #707070;
    /* border: 1px solid gray; */
    border-top: 1px solid gray;
    margin-top: 2px;

    /* border-bottom: 1px solid #707070; */
}


.cricket-heighlight-row-left{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 12px;
    word-wrap: break-word;
}
.prem-fancy-cover{
    display: flex;
    margin-top: 20px;
/* margin-bottom: -20px; */
align-items: center ;
text-align: center;
}
.prem-fancy{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30%;
    padding: 10px;
    margin-bottom: -3px;

}
.mob-one-eaning{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    margin-top: 20px;
}


@media screen and (max-width:768px) {
.mob-single-table{
    /* padding: 20px 20px 1px 10; */
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* margin-top: 20px; */
    padding: 20px 20px 20px 20px;
}

    .scoreData-mobile{
        background-color:  rgb(199, 199, 199);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
        margin-top: 10px;
        /* height: 56px; */
        display:flex;
        align-items: center;
        padding: 40px 20px;
        align-items: center;
        /* color: white; */
        margin-top: 20px;
        /* padding: 10px 0px; */
        background: white;
        border-radius:15px ;
        margin-bottom: 20px;
        /* margin-top: -10px; */
        /* z-index: 1; */
        /* box-shadow: -10px -10px 10px #707070; */
    }
    .scoreData{
        background-color:  rgb(199, 199, 199);
    
        /* height: 56px; */
        display:flex;
        display: none;
        align-items: center;
        /* color: white; */
        margin-top: 10px;
        padding: 10px 0px;
    }
    .one-eaning{
        height: 100px;
        display: flex;
        align-items: center;
        display: none;
        
    }
    .eaning-mid {
        width:40%;
        text-align: center;
        }
        .eaning-right{
            width: 30%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    .eaning-left{
        display: flex;
        width: 30%;
        text-align: center;
        flex-direction: column;
    }
    .single-middle{
        width: 100%;
    }
    .single-top-head{
        display: none;

    }
    .one-eaning{
        /* border-radius: 40px; */
        /* display: none; */
    }
    .mob-one-eaning{
        display: flex;
        border-radius: 15px;
    
        width: 95%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        background-color: white;
        align-items: center;
        /* box-shadow: 20px 30px 20px gray; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 5px;


    }
    .mob-one-eaning-single{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .scoredata-team{
        width: 50%;
        border: 1px solid #707070;
    }
    .playerScore-odd{
        width: 25%;
    }
    .most-right-score{
        width: 25%;
    }
.cricket-heighlight-row-left{
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 12px;
    word-wrap: break-word;
}

    /* .playerScore{
        width: 25%;
    } */
}