.one-eaning{
    height: 56px;
    display: flex;
    align-items: center;
    
}
.eaning-left{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
    
}
.scoreData {
    background-color:  rgb(199, 199, 199);
    
    /* height: 56px; */
    display:flex;
    align-items: center;
    /* color: white; */
    margin-top: 10px;
    padding: 10px 0px;
    /* border-radius: 1px solid black; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */

}
.scoredata-team{
 width: 74%;   
 color: black;
 
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 /* padding:px 0px; */
 /* padding-left: 15px; */
}
.single-middle{
    width: 60%;
}

.text-center{
    text-align: center;
}
.eaning-mid {
width:40%;
text-align: center;
}
.eaning-right{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playerScore{
width: 18%;
display: flex;
align-items: center;
height: 100%;
/* margin-left: 50px; */
}
.scoredata-team{
    width: 63%;   
    color: black;
   }
.score-data-single-team{
    height: 40px;
    


}

.playerScore-odd{
    width: 18%;
}

.cricket-data-table{
    height: 48px;
    background-color: white;
    border-top: 1px solid #707070;
    /* border-bottom: 1px solid #707070; */
}


.cricket-heighlight-row-left{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 12px;
    word-wrap: break-word;
}
.prem-fancy-cover{
    display: flex;
    margin-top: 20px;
/* margin-bottom: -20px; */
align-items: center ;
text-align: center;
}
.prem-fancy{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30%;
    padding: 10px;
    margin-bottom: -3px;

}
.mob-one-eaning{
    display: none;
}


@media screen and (max-width:768px) {
    .one-eaning{
        height: 100px;
        display: flex;
        align-items: center;
        
    }
    .eaning-mid {
        width:40%;
        text-align: center;
        }
        .eaning-right{
            width: 30%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    .eaning-left{
        display: flex;
        width: 30%;
        text-align: center;
        flex-direction: column;
    }
    .single-middle{
        width: 100%;
    }
    .single-top-head{
        /* display: none; */
    }
    .one-eaning{
        /* border-radius: 40px; */
        /* display: none; */
    }
    .mob-one-eaning{
        display: flex;
        border-radius: 40px;
        width: 95%;
        margin: auto;
        display: flex;
        background-color: white;
        align-items: center;


    }
    .mob-one-eaning-single{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}