.home-body{
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 1%;

}

.home-middle{
    width: 60%;
}

.home-display-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media screen and (max-width: 1200px) {
    .home-body{
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .home-body{
        width: 95%;
    }
    .home-middle{
        width: 100%;
    }   
   }
@media screen and (max-width:768px) {
    .mobile-bottom{
        position: fixed;
        width: 100%;
        bottom: 0;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        height: 3.5rem;
        background-color: black
    }
    
}