.static-page-cover{
    /* height: 100vh; */
position:relative;
    object-fit: contain;
    /* object-fit: contain; */
    /* background-image: url("../../Assets/singlepages/Commingsoon.png"); */
}

.middle-content {
    position:absolute;
    top: 20%;
    text-align: center;
    font-size: 40px;
    width: 40%;
    margin: auto;
    left: 30%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.landing-cover{
    width: 100%;
    position: relative;
}
.landing-content{
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* align-items:; */
    top: 100px;
}

/* .middle-content */
